/* footer */

.footer{
    display: flex;
    width: 1109px;
    height: 23px;
    background: #FFF;
    align-items: center;
    padding-top: 90px;
    justify-content: space-between;
    margin-bottom: 50px;
}