body{
    max-width:1110px;
    width:100%;
    margin:auto;
    font-family:"Mulish",sans-serif
}

/* p{
    opacity:0.6;
    line-height:26px
}

h1{
    font-size:40px;
    font-style:normal;
    font-weight:700;
    line-height:60px
}

h2{
    color:#111;
    font-family:"Mulish",sans-serif;
    font-size:28px;
    font-style:normal;
    font-weight:700;
    line-height:38px
}
h3{
    color:#4A4FF2;
    font-family:"Mulish",sans-serif;
    font-size:22px;
    font-style:normal;
    font-weight:700;
    line-height:normal;
    letter-spacing:-0.423px
} */

/* navbar */

.navbar{
    width: 1109px;
    height: 23px;
    display:flex;
    background: #FFF;
    align-items: center;
    padding-top: 60px;
    justify-content: space-between;
}

.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 90px;
    height: 20px;
    margin-right: auto;
    background: rgb(255, 255, 255) 0px 0px / 100% 100% no-repeat;
}

.nav-links{
    list-style: none;
    display: flex; 
}

.nav-links  li{
    margin-right: 30px;
}

.nav-links a{
    text-decoration: none;
    color: #111;
    font-family:"Mulish",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;
}

.nav-links a:hover{
    color: #4A4FF2;
}

/* SECTION 1 */

.container-1{
    display:flex;
    padding-top:100px;
    margin-bottom: 144px;
}
.main-title{
    max-width:635px;
    width:100%;
}

.main-text{
    width: 173px;
    color: #4A4FF2;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
    margin-top: 96px;
}

.main-info{
    width: 635px;
    height: 191px;
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    margin-top: 32px;
}

.main-info a{
    text-decoration: none;
}

.main-info a:hover{
    color: #4A4FF2;
}

.progress{
    align-self:flex-end;
    font-size:18px;
    font-style:italic;
    font-weight:400;
    line-height:normal;
    opacity:0.6;
    margin-left:190px
}

/* section 2 */

.container_2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 20px;
    max-width: 1110px;
    width: 100%;
    margin-top: 144px;
}

.grid_element {
    overflow: hidden;
    position: relative;
}
.first {
    grid-row: 1/8;
    grid-column: 1/4;
}
.second {
    grid-row: 1/7;
    grid-column: 4/7;
}
.third {
    grid-row: 1/11;
    grid-column: 7/10;
}
.fourth {
    grid-row: 8/16;
    grid-column: 1/4;
}
.fifth {
    grid-row: 7/14;
    grid-column: 4/7;
}
.sixth {
    grid-row: 11/18;
    grid-column: 7/10;
}
.seventh {
    grid-row: 16/24;
    grid-column: 1/4;
}
.eight {
    grid-row: 14/23;
    grid-column: 4/7;
}
.ninth {
    grid-row: 18/27;
    grid-column: 7/10;
}
.tenth {
    grid-row: 24/33;
    grid-column: 1/4;
}
.eleventh {
    grid-row: 23/33;
    grid-column: 4/7;
}
.twelwth {
    grid-row: 27/33;
    grid-column: 7/10;
}